h1 {
    text-align: center;
}
.row {
    width: 600px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    background: tomato;
    width: calc((100% - 30px) / 4);
    margin-bottom: 10px;
    flex: none;
    &:nth-last-child(-n+4) {
        margin-bottom: 10px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}